body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 30px;
  font-size: 24px;
  color: #218b8b; /* Teal */
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.input-container {
  text-align: center;
  margin-bottom: 20px;
}

#txt {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 60%;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #218b8b; /* Teal */
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #186969; /* Darker teal */
}

.result {
  padding: 10px;
  text-align: center;
}

#active,
#recovered,
#death {
  margin-top: 10px;
  font-size: 18px;
  color: #c0392b; /* Red */
}
